alabaster==0.7.10
appnope==0.1.0
arviz==0.1.0
asn1crypto==0.24.0
atomicwrites==1.1.5
attrs==18.1.0
awscli==1.15.78
Babel==2.5.3
bambi==0.1.1
bayesian-changepoint-detection==0.2.dev1
bleach==2.1.3
blinker==1.4
boto3==1.4.4
botocore==1.10.77
certifi==2018.1.18
cffi==1.11.5
changefinder==0.3
chardet==3.0.4
colorama==0.3.9
cryptography==2.3
cycler==0.10.0
Cython==0.28.1
decorator==4.2.1
docutils==0.14
entrypoints==0.2.3
fbprophet==0.2.1
future==0.16.0
graphviz==0.8.4
h5py==2.7.1
html5lib==1.0.1
idna==2.6
imagesize==1.0.0
ipdb==0.11
ipykernel==4.8.2
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.2
-e git+git@github.com:springcoil/irishartbot.git@171067e7022a0310eb02e026f6ab9cefbfb44911#egg=irish_art_bot
-e git+git@github.com:springcoil/irishartbot.git@171067e7022a0310eb02e026f6ab9cefbfb44911#egg=irishartbot
jedi==0.11.1
Jinja2==2.10
jmespath==0.9.3
joblib==0.11
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
luminol==0.4
Mako==1.0.7
MarkupSafe==1.0
matplotlib==2.2.2
mistune==0.8.3
mizani==0.4.6
mkl-fft==1.0.0
mkl-random==1.0.1
more-itertools==4.2.0
-e git+https://github.com/jbmohler/mortgage.git@e4ecef1eeeceebfc51f3421f077727e5abefee17#egg=Mortgage
nb-conda==2.2.1
nb-conda-kernels==2.1.0
nbconvert==5.3.1
nbformat==4.4.0
nose==1.3.7
notebook==5.4.1
numpy==1.14.3
numpydoc==0.7.0
oauthlib==2.1.0
olefile==0.45.1
packaging==17.1
palettable==3.1.0
pandas==0.22.0
pandocfilters==1.4.2
parameterized==0.6.1
parso==0.1.1
patsy==0.5.0
pexpect==4.4.0
pickleshare==0.7.4
Pillow==5.0.0
plotnine==0.3.0
pluggy==0.6.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.5.4
pyasn1==0.4.4
pycparser==2.18
Pygments==2.2.0
pygpu==0.7.5
PyJWT==1.6.4
pymc3==3.5
pyOpenSSL==17.5.0
pyparsing==2.2.0
PySocks==1.6.8
pystan==2.17.1.0
pytest==3.5.1
python-dateutil==2.7.2
pytz==2018.3
PyYAML==3.13
pyzmq==17.0.0
qtconsole==4.3.1
requests==2.14.2
requests-oauthlib==1.0.0
rsa==3.4.2
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.1.0
seaborn==0.8.1
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.2
sphinxcontrib-websupport==1.0.1
statsmodels==0.8.0
terminado==0.8.1
testpath==0.3.1
Theano==1.0.1
tornado==5.0.1
tqdm==4.21.0
traitlets==4.3.2
twython==3.6.0
typing==3.6.4
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.1.4
xarray==0.10.7
